<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <section id="feed-posts">
        <h4>Post</h4>
        <% if(locals.user){ %>
            <form action="/posts/create" id="new-post-form" method="post">
                <textarea class="postData" name="content" cols="30" rows="5" placeholder="What's on your mind!" required></textarea>
                <input type="submit" value="post">
            </form>
        <% } %>
    
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    
                    <%- include('_post') -%>
    
                <% } %>
            </ul>
        </div>
    </section>

    <% if(locals.user){ %>
        <section id="user-friends">
                <h2>Friends</h2>
                <% for(u of friends){ %>
                        <p>
                                <a href="/users/profile/<%= u.id %>">
                                        <%= u.name %>
                                </a>
                        </p>
                <% } %>
        </section>
    <% } %>
    
    <section id="user-friends">
        <h4>All Users</h4>
        <% for(u of all_users){ %>
        
            <p>
                <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            </p>
            
        <% } %>
    </section>
</div>

<script src="/js/home_post_comments.js" ></script>
<script src="/js/home_posts.js"></script>
<script src="/js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self=this;
        let toggleLike=new ToggleLike(self);
    });
</script>